<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
   <head>
      <meta charset="UTF-8">
      <title>Online Pet Shop</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
   </head>
   <body>
      <th:block th:include="/header"></th:block>
      <th:block th:include="/menu"></th:block>
      
      <div class="page-title">Shopping Cart Demo</div>
      <div class="demo-container">
         <h3>Welcome !!!</h3><br>
         <p>To our Online Pet Shop where you can find Wide Ranges and varieties of Pets of Different Breeds...</p><br>
         <p>Check Our Pet's List to know more...</p>
      </div>
      
   </body>
</html>